<!DOCTYPE html>
<html lang="=en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" conten="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car Seller</title>
        <!--CSS-->
        <link rel="stylesheet" href="/assets/css/style.css">
        <!--Icons-->
        <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    </head>
    
    <body>
        <!--Navbar-->
        <header>
            <div class="nav container">

                <i class="bx bx-menu" id="menu-icon"></i>

                <a href="#" class="logo">Car<span>Ville</span></a>

                <ul class="navbar">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#carshow">Car Show</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#blog">Our Blog</a></li>
                </ul>
            </div>

        </header>

        <section class="home" id="home">

            <div class="home-text">
                <h1>Performance <span>Comfort </span> We have it all </h1>
                <p>Project created for educational purposes.<br> By some students in ISTEC</p>
                {{!-- Home Button --}}
                <a href="#" class="btn">Discover</a>
            </div>  

        </section>

    </body>

</html>