/* Reviews Section */
.reviews {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.recent-reviews {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}