/* CSS DIVIDED FOR SIMPLICITY

    1. Google Fonts
    2. Var Color
    3. IMG & Body
    4. Containers
    5. Navbar
    6. Sections
*/

/* 1. Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Hyperlinks */

a{
    color: var(--text-color);
    text-decoration: none;
}

/* 2. Var Color */

:root{
    --main-color:#d90429 ;
    --text-color:#020102 ;
    --bg-color:#fff ;
}

/* 3. Img and Body */

img{
    width: 100%;
}

body{
    color: var(--text-color);
    max-width: 1920px;
}

/* 4. Container Css */

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

/* 5. Navbar Css */

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color:var(--text-color);
    display: none;
}

.logo{
    font-size: 1.4rem;
    font-weight: 700;
    color:var(--text-color);
}

.logo span{
    color:var(--bg-color);
}

/* Section Main */

.sidebar{
    width: 345px;
    position: fixed;
    height: 100%;
    background-color: var(--main-color);
    left: 0;
    top: 0;
} 

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    margin-bottom: 30px;
    display: block;
    font-size: 1.3rem;
    color: var(--bg-color);
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.main-content{
    margin-left: 345px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-bar i{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.6rem;
}

.search-bar input{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
}